{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<div style="background-color:darkred ;width: 100%;height: 100px;">
    <h3 class="text-white container pt-3">About Us</h2>
</div>
<div class="container">
    <hr>
    <p>Hello...<br>Notes Sharing is a web application developed for all educational management institutes. It can be accessed throughout the web once we deploy it on internet. This application deals with the uploading and sharing of notes and assignments by a student among his faculty. Notes Sharing allows the faculty to accept or reject notes and assignments of their students. Notes Sharing helps the students view the status of their notes(if accepted, rejected or pending).Using Notes Sharing, faculty can also upload notes or any other documents which they want to share with their students. These notes will be available to be downloaded by the students. All the students can sign up to create an account. A “ContactUs” page is available to share any queries or problems related to the application’s service. </p>
</div>
{% endblock %}
