{% extends 'teacher_nav.html' %}
{% load static %}
{% block body %}

{% ifequal error "no" %}
<script>
    alert('File uploaded Successfully.');
    window.location=("{% url 'teacher_home' %}");
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('File upload Unsuccessful. Try Again.');
</script>
{% endifequal %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h2 class="text-center">UPLOAD NOTES</h2>
            <hr>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label>Send to :</label>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                <label>Batch </label><input class="form-control" type="number" min="2016" max="2022" step="1" value="2018" name="batch" required>
                <label>Branch </label>
                <select class="form-control" name="branch" required>
                    <option value="CSE">CSE</option>
                    <option value="IT">IT</option>
                    <option value="ECE">ECE</option>
                    <option value="EEE">EEE</option>
                    <option value="ECM">ECM</option>
                    <option value="Mech">Mech</option>
                    <option value="Civil">Civil</option>
                </select>
                <label>Section(Example:A,B,C,D...)</label><input class="form-control" name="section" type="text" maxlength="1" required>
                </div>
                </div>
                <label>Subject</label>
                <input type="text" class="form-control" placeholder="Enter Subject..." name="subject" required>
                <label>File</label>
                <input type="file" class="form-control" name="filedoc" required>
                <label>File Type</label>
                <select class="form-control" name="filetype" required>
                    <option value="">-Select File Type-</option>
                    <option value="PDF">PDF</option>
                    <option value="PPT">PPT</option>
                    <option value="DOC/DOCX">DOC/DOCX</option>
                    <option value="TXT">TXT</option>
                    <option value="JPG/PNG">JPG/PNG</option>
                    <option value="ZIP/RAR">ZIP/RAR</option>
                </select>
                <label>Description</label>
                <textarea class="form-control" name="description" placeholder="Enter Description..." required></textarea>
                <input type="submit" class="btn btn-success mt-2" value="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}